<h1 style="text-align: center;">Update</h1>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                     <%= bootstrap_form_for @customer do |f|%>
                     <form class="form-horizontal" role="form">
                        
                        <div class="form-group">
                          <label class="control-label">ID:</label>
                       
                            <p class="form-control-static"></p><!--Customerid-->
                         
                        </div>
                        <div class="form-group">
                          
                          <div class="">          
                            <%= f.text_field :CustomerName, label:"Company Name:", label_class: "control-label"%>
                          </div>
                        </div>
                          <div class="form-group">
                           
                            <%= f.text_field :MailingAddress, label:"Company Location:" ,label_class: "control-label"%>
                          </div>
                          <div class="form-group">
                           
                            <%= f.text_field :ContactPerson, label:"Contact Person:", label_class: "control-label"%>
                          </div>
                          <div class="form-group">
                           
                            <%= f.text_field :ContactNumber, label:"Contact Number:", label_class: "control-label"%>
                          </div>
                          <div class="form-group">
                          
                            <%= f.text_field :EmailAddress, label:"Email Address:", label_class: "control-label"%>
                            
                          </div>
                          <%= f.submit "Submit", class: "btn btn-success"%>
                            <%end%>
      <div class="modal-footer">
                      <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                             
                                </div>
                        </div>
                    </div>
                      </form>