<h1 style="text-align: center;">Update</h1>
                    
                   
                     <%= bootstrap_form_for @customer do |f|%>
                     
                          <label class="control-label">ID:</label>
                       
                            <p class="form-control-static"></p><!--Customerid-->
                         
                      
                        
                            <%= f.text_field :CustomerName, label:"Company Name:", label_class: "control-label"%>
                          
                           
                            <%= f.text_field :MailingAddress, label:"Company Location:" ,label_class: "control-label"%>
                          
                            <%= f.text_field :ContactPerson, label:"Contact Person:", label_class: "control-label"%>
                         
                           
                            <%= f.text_field :ContactNumber, label:"Contact Number:", label_class: "control-label"%>
                         
                          
                            <%= f.text_field :EmailAddress, label:"Email Address:", label_class: "control-label"%>
                         
                          <%= f.submit "Submit", class: "btn btn-success"%>
                            <%end%>
      